<html>

    <head>

        {% block head %}

            <title>Classes</title>
            <link rel="stylesheet" href="/styles.css">

        {% endblock head %}

    </head>

    <body>
        
        <header>

            {% block header %}

                <div class="links">

                    <a href="/teachers">Teachers</a>
                    <a href="/students">Students</a>

                </div>

            {% endblock header %}

        </header>

        {% block content %}
        {% endblock content %}

        <script src="/scripts.js"></script>

    </body>

</html>