<div class="item">

    <div>Avatar Url</div>
    <div><input type="url" name="avatar_url" placeholder="https://" value="{{student.avatar_url}}"></div>

</div>

<div class="item">

    <div>Nome Completo</div>
    <div><input type="text" name="name" placeholder="Nome Completo" value="{{student.name}}"></div>

</div>

<div class="item">

    <div>Data de nascimento</div>
    <div><input type="date" name="birth" value="{{student.birth}}"></div>

</div>

<div class="item">

    <div>E-mail</div>
    <div><input type="email" name="email" value="{{student.email}}"></div>

</div>

<div class="item">

    <div>Ano Escolar</div>
    <div>

        <select name="ano">

            <option value="5" {% if student.ano == "5" %}selected{% endif %}>5 ano do ensino fundamental</option>
            <option value="6" {% if student.ano == "6" %}selected{% endif %}>6 ano do ensino fundamental</option>
            <option value="7" {% if student.ano == "7" %}selected{% endif %}>7 ano do ensino fundamental</option>
            <option value="8" {% if student.ano == "8" %}selected{% endif %}>8 ano do ensino fundamental</option>
            <option value="1" {% if student.ano == "1" %}selected{% endif %}>1 ano do ensino médio</option>
            <option value="2" {% if student.ano == "2" %}selected{% endif %}>2 ano do ensino médio</option>
            <option value="3" {% if student.ano == "3" %}selected{% endif %}>3 ano do ensino médio</option>


        </select>

    </div>

</div>

<div class="item">

    <div>Carga horária</div>
    <div>

        <input type="number" name="carga_horaria" value="{{student.carga_horaria}}">

    </div>

</div>

<button type="submit">Salvar</button>